# KNN (K-Nearest-Neighbors)

## Outline

### Learning Objectives

* Understand the basic concept of KNN 
* Use KNN to solve a classification problem

### Prerequisites

* Introduction to Colab
* Intermediate Python
* Introduction to Pandas
* Visualizations

### Estimated Duration

60 minutes

### Grading Criteria

Each exercise is worth 3 points. The rubric for calculating those points is:

| Points | Description |
|--------|-------------|
| 0      | No attempt at exercise |
| 1      | Attempted exercise, but code does not run |
| 2      | Attempted exercise, code runs, but produces incorrect answer |
| 3      | Exercise completed successfully |

## K-Nearest-Neighbors for Classification

### Example

KNN is a simple concept: define some distance metric between the items in your dataset, and find the K closest items. You can then use those items to predict some property of a test item, by having them somehow "vote" on it.

In this example, we will use KNN to predict whether or not a person will be diagnosed with diabetes. You can download the dataset [here](https://github.com/susanli2016/Machine-Learning-with-Python/blob/master/diabetes.csv). Save it as diabetes.csv and upload the file into the runtime.

In [1]:
import pandas as pd 

diabetes = pd.read_csv('./diabetes.csv')
diabetes.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [2]:
print("dimension of diabetes data: {}".format(diabetes.shape))

dimension of diabetes data: (768, 9)

In [3]:
list(diabetes)

['Pregnancies',
 'Glucose',
 'BloodPressure',
 'SkinThickness',
 'Insulin',
 'BMI',
 'DiabetesPedigreeFunction',
 'Age',
 'Outcome']

In this example, our features are 'Pregnancies',
 'Glucose',
 'BloodPressure',
 'SkinThickness',
 'Insulin',
 'BMI',
 'DiabetesPedigreeFunction', and 
 'Age.' Our target is "Outcome" which is currently encoded with a 1 for a positive diabetes diagnosis and 0 for a negative diabetes diagnosis.

In [4]:
print(diabetes.groupby('Outcome').size())

Outcome
0    500
1    268
dtype: int64

We notice that there are several 0's in the dataset. These are likely cases where the data simply wasn't collected or stored properly. We need to clean these up or they will have an incorrect affect on the outcome of our KNN.

In [5]:
import numpy as np
no_zero = ['Glucose', 'BloodPressure', 'SkinThickness', 'Insulin', 'BMI']

for column in no_zero:
  diabetes[column] = diabetes[column].replace(0,np.NaN)
  mean = int(diabetes[column].mean(skipna=True))
  diabetes[column] = diabetes[column].replace(np.NaN, mean)

We create a training and testing sets, remembering to separate 'Outcome' as our target value y.

In [6]:
from sklearn.model_selection import train_test_split

X = diabetes.iloc[:,0:8]
y = diabetes.iloc[:,8]
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2)

Now we scale our features using StandardScaler.

In [7]:
from sklearn.preprocessing import StandardScaler

sc_X = StandardScaler()
X_train = sc_X.fit_transform(X_train)
X_test= sc_X.transform(X_test)

Finally, we use the SciKit Learn KNN model.

In [8]:
from sklearn.neighbors import KNeighborsClassifier

n_neighbors = 14

KNN = KNeighborsClassifier(n_neighbors = n_neighbors, p=2, metric = 'euclidean')
KNN.fit(X_train, y_train)

y_pred = KNN.predict(X_test)

We now evaluate our model. First let's look at the confusion matrix.

In [9]:
from sklearn.metrics import confusion_matrix
from sklearn.metrics import f1_score
from sklearn.metrics import accuracy_score

cm = confusion_matrix(y_test,y_pred)
f1 = f1_score(y_test,y_pred)
accuracy = accuracy_score(y_test,y_pred)


print('The confusion matrix is', cm)
print('The f1 score is', f1)
print('The accuracy score is', accuracy)

The confusion matrix is [[80 17]
 [23 34]]
The f1 score is 0.6296296296296297
The accuracy score is 0.7402597402597403

### Exercise 1

Our choice of 14 for the number of neighbors was arbitrary - what effect do different values have on the results? Run some tests and explain what you find.

ANSWER = given different number of neighbors, the KNN classifier performance varies. 14 seems to be the one that gives best accuracy score is 0.8181818181818182. However, by setting n_neighbors to 15, f1 score is higher. Too few neighbors will cause overfitting, too many neighbors will cause underfitting.

In [10]:
from sklearn.neighbors import KNeighborsClassifier

n_neighbors = 41

for i in range(1,n_neighbors):
  KNN = KNeighborsClassifier(n_neighbors = i, p=2, metric = 'euclidean')
  KNN.fit(X_train, y_train)

  y_pred = KNN.predict(X_test)

  cm = confusion_matrix(y_test,y_pred)
  f1 = f1_score(y_test,y_pred)
  accuracy = accuracy_score(y_test,y_pred)

  print('The n_neighbours is', i)
  print('The confusion matrix is', cm)
  print('The f1 score is', f1)
  print('The accuracy score is', accuracy)

The n_neighbours is 1
The confusion matrix is [[65 32]
 [17 40]]
The f1 score is 0.6201550387596899
The accuracy score is 0.6818181818181818
The n_neighbours is 2
The confusion matrix is [[84 13]
 [30 27]]
The f1 score is 0.5567010309278351
The accuracy score is 0.7207792207792207
The n_neighbours is 3
The confusion matrix is [[72 25]
 [19 38]]
The f1 score is 0.6333333333333333
The accuracy score is 0.7142857142857143
The n_neighbours is 4
The confusion matrix is [[82 15]
 [26 31]]
The f1 score is 0.6019417475728156
The accuracy score is 0.7337662337662337
The n_neighbours is 5
The confusion matrix is [[78 19]
 [19 38]]
The f1 score is 0.6666666666666666
The accuracy score is 0.7532467532467533
The n_neighbours is 6
The confusion matrix is [[81 16]
 [27 30]]
The f1 score is 0.5825242718446602
The accuracy score is 0.7207792207792207
The n_neighbours is 7
The confusion matrix is [[74 23]
 [21 36]]
The f1 score is 0.6206896551724138
The accuracy score is 0.7142857142857143
The n_neighbours is 8
The confusion matrix is [[78 19]
 [23 34]]
The f1 score is 0.6181818181818182
The accuracy score is 0.7272727272727273
The n_neighbours is 9
The confusion matrix is [[74 23]
 [19 38]]
The f1 score is 0.6440677966101694
The accuracy score is 0.7272727272727273
The n_neighbours is 10
The confusion matrix is [[80 17]
 [25 32]]
The f1 score is 0.6037735849056605
The accuracy score is 0.7272727272727273
The n_neighbours is 11
The confusion matrix is [[74 23]
 [22 35]]
The f1 score is 0.608695652173913
The accuracy score is 0.7077922077922078
The n_neighbours is 12
The confusion matrix is [[80 17]
 [24 33]]
The f1 score is 0.616822429906542
The accuracy score is 0.7337662337662337
The n_neighbours is 13
The confusion matrix is [[76 21]
 [20 37]]
The f1 score is 0.6434782608695653
The accuracy score is 0.7337662337662337
The n_neighbours is 14
The confusion matrix is [[80 17]
 [23 34]]
The f1 score is 0.6296296296296297
The accuracy score is 0.7402597402597403
The n_neighbours is 15
The confusion matrix is [[76 21]
 [19 38]]
The f1 score is 0.6551724137931034
The accuracy score is 0.7402597402597403
The n_neighbours is 16
The confusion matrix is [[79 18]
 [25 32]]
The f1 score is 0.5981308411214953
The accuracy score is 0.7207792207792207
The n_neighbours is 17
The confusion matrix is [[78 19]
 [21 36]]
The f1 score is 0.6428571428571428
The accuracy score is 0.7402597402597403
The n_neighbours is 18
The confusion matrix is [[82 15]
 [24 33]]
The f1 score is 0.6285714285714286
The accuracy score is 0.7467532467532467
The n_neighbours is 19
The confusion matrix is [[79 18]
 [21 36]]
The f1 score is 0.6486486486486486
The accuracy score is 0.7467532467532467
The n_neighbours is 20
The confusion matrix is [[84 13]
 [22 35]]
The f1 score is 0.6666666666666667
The accuracy score is 0.7727272727272727
The n_neighbours is 21
The confusion matrix is [[82 15]
 [21 36]]
The f1 score is 0.6666666666666667
The accuracy score is 0.7662337662337663
The n_neighbours is 22
The confusion matrix is [[83 14]
 [23 34]]
The f1 score is 0.6476190476190476
The accuracy score is 0.7597402597402597
The n_neighbours is 23
The confusion matrix is [[79 18]
 [21 36]]
The f1 score is 0.6486486486486486
The accuracy score is 0.7467532467532467
The n_neighbours is 24
The confusion matrix is [[79 18]
 [24 33]]
The f1 score is 0.6111111111111113
The accuracy score is 0.7272727272727273
The n_neighbours is 25
The confusion matrix is [[78 19]
 [23 34]]
The f1 score is 0.6181818181818182
The accuracy score is 0.7272727272727273
The n_neighbours is 26
The confusion matrix is [[80 17]
 [24 33]]
The f1 score is 0.616822429906542
The accuracy score is 0.7337662337662337
The n_neighbours is 27
The confusion matrix is [[80 17]
 [23 34]]
The f1 score is 0.6296296296296297
The accuracy score is 0.7402597402597403
The n_neighbours is 28
The confusion matrix is [[83 14]
 [25 32]]
The f1 score is 0.6213592233009708
The accuracy score is 0.7467532467532467
The n_neighbours is 29
The confusion matrix is [[81 16]
 [21 36]]
The f1 score is 0.6605504587155963
The accuracy score is 0.7597402597402597
The n_neighbours is 30
The confusion matrix is [[83 14]
 [27 30]]
The f1 score is 0.594059405940594
The accuracy score is 0.7337662337662337
The n_neighbours is 31
The confusion matrix is [[83 14]
 [25 32]]
The f1 score is 0.6213592233009708
The accuracy score is 0.7467532467532467
The n_neighbours is 32
The confusion matrix is [[83 14]
 [27 30]]
The f1 score is 0.594059405940594
The accuracy score is 0.7337662337662337
The n_neighbours is 33
The confusion matrix is [[82 15]
 [22 35]]
The f1 score is 0.6542056074766356
The accuracy score is 0.7597402597402597
The n_neighbours is 34
The confusion matrix is [[84 13]
 [25 32]]
The f1 score is 0.6274509803921567
The accuracy score is 0.7532467532467533
The n_neighbours is 35
The confusion matrix is [[82 15]
 [21 36]]
The f1 score is 0.6666666666666667
The accuracy score is 0.7662337662337663
The n_neighbours is 36
The confusion matrix is [[82 15]
 [27 30]]
The f1 score is 0.5882352941176471
The accuracy score is 0.7272727272727273
The n_neighbours is 37
The confusion matrix is [[81 16]
 [26 31]]
The f1 score is 0.5961538461538461
The accuracy score is 0.7272727272727273
The n_neighbours is 38
The confusion matrix is [[82 15]
 [29 28]]
The f1 score is 0.5599999999999999
The accuracy score is 0.7142857142857143
The n_neighbours is 39
The confusion matrix is [[82 15]
 [28 29]]
The f1 score is 0.5742574257425743
The accuracy score is 0.7207792207792207
The n_neighbours is 40
The confusion matrix is [[82 15]
 [29 28]]
The f1 score is 0.5599999999999999
The accuracy score is 0.7142857142857143

### Exercise 2

Create a plot of accuracy vs. n_neighbors (i.e. accuracy on the y-axis and n_neighbors on the x-axis). Let the number of neighbors (x-axis) range from 1 to 20.  Your plot should contain two lines. The first line should plot the model's training accuracy and the second line should show the model's testing accuracy.

In [11]:
## your code here 
import matplotlib.pyplot as plt
n_neighbors = 21
accuracys_train = []
accuracys_test = []
for i in range(1,n_neighbors):
  KNN = KNeighborsClassifier(n_neighbors = i, p=2, metric = 'euclidean')
  KNN.fit(X_train, y_train)
  y_pred_train = KNN.predict(X_train)
  y_pred_test = KNN.predict(X_test)

  accuracys_train.append(accuracy_score(y_train,y_pred_train))
  accuracys_test.append(accuracy_score(y_test,y_pred_test))

n_neighbors = [x for x in range(1,21)]

plt.ylabel('Accuracy')
plt.xlabel('n_neighbors')
plt.xticks(np.arange(1, 21, step=1))
plt.plot(n_neighbors,accuracys_train,'b-',label = 'Train')
plt.plot(n_neighbors,accuracys_test,'r-',label = 'Test')
plt.show()

## K-Nearest-Neighors for Regression

We can also use KNN for regression. In this example, we also define our own distance metric (as Euclidean distance is not well defined for these data) and write our own KNN function.

### Example

As an example, let's look at the MovieLens data which you can download [here](http://media.sundog-soft.com/RecSys/ml-latest-small.zip). Upload the ratings.csv and movies.csv files. 

We'll use KNN to guess the rating of a movie by looking at the 10 movies that are closest to it in terms of genres and popularity.

To start, we'll load up every rating in the data set into a Pandas DataFrame:

In [13]:
import pandas as pd


ratings = pd.read_csv('./ratings.csv')
ratings.head()

   userId  movieId  rating   timestamp
0       1       31     2.5  1260759144
1       1     1029     3.0  1260759179
2       1     1061     3.0  1260759182
3       1     1129     2.0  1260759185
4       1     1172     4.0  1260759205

Now, we'll group everything by movie ID, and compute the total number of ratings (each movie's popularity) and the average rating for every movie.

In [14]:
import numpy as np

movieProperties = ratings.groupby('movieId').agg({'rating': [np.size, np.mean]})
movieProperties.head()

        rating
          size      mean
movieId
1        247.0  3.872470
2        107.0  3.401869
3         59.0  3.161017
4         13.0  2.384615
5         56.0  3.267857

The raw number of ratings isn't very useful for computing distances between movies, so we'll create a new DataFrame that contains the normalized number of ratings. So, a value of 0 means nobody rated it, and a value of 1 will mean it's the most popular movie there is.

In [15]:
movieNumRatings = pd.DataFrame(movieProperties['rating']['size'])
movieNormalizedNumRatings = movieNumRatings.apply(lambda x: (x - np.min(x)) / (np.max(x) - np.min(x)))
movieNormalizedNumRatings.head()

             size
movieId
1        0.723529
2        0.311765
3        0.170588
4        0.035294
5        0.161765

Now, let's get the genre information from the movies.csv file. In the genres column, we see the list of genres for each movie separated by a '|'. Note that a movie may have more than one genre. 

First we read the file into a DataFrame.

In [17]:
movies = pd.read_csv('./movies.csv')
movies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

Now we split the genres column on the '|' and create a new DataFrame called movies_split.

In [18]:
movies_split = movies.genres.str.split('|', expand=True)
movies_split.head()

,0,1,2,3,4,5,6,7,8,9
0,Adventure,Animation,Children,Comedy,Fantasy,None,None,None,None,None
1,Adventure,Children,Fantasy,None,None,None,None,None,None,None
2,Comedy,Romance,None,None,None,None,None,None,None,None
3,Comedy,Drama,Romance,None,None,None,None,None,None,None
4,Comedy,None,None,None,None,None,None,None,None,None

We now create a list of all the unique genres that appear in this DataFrame. It is called genres_list.

In [19]:
genres = pd.unique(movies_split[[0,1,2,3,4,5,6,7,8,9]].values.ravel('K'))
genres_list = list(genres)
genres_list.remove(None)
print(genres_list)
print(len(genres_list))

['Adventure', 'Comedy', 'Action', 'Drama', 'Crime', 'Children', 'Mystery', 'Documentary', 'Animation', 'Thriller', 'Horror', 'Fantasy', 'Film-Noir', 'Western', 'Romance', 'Sci-Fi', 'Musical', 'War', '(no genres listed)', 'IMAX']
20

In the movies DataFrame, we want to recode the values of the genres column to be a list of twenty 0's and 1's that correspond to the values in genres_list (in the order they appear in genres_list). For example, if a movie has genres Adventure and Children, then we would like the element in the genres column to be: \
[1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

The function defined below iterates through a list of genres and compares the values to the elements of genres_list. It then returns an appropriate array of 0's and 1's as described above.

In [20]:
#Definition of the function f to create the array of 0's and 1's based on genres
def f(mylist):
  a = np.zeros(20).astype(int)
  for i in mylist:
    for j in range(20):
      if i == genres_list[j]:
        a[j] = 1
  return a

#Test that f works as expected on an example list 
print(f(['Adventure', 'Children']))

[1 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0]

We split the genres column of the movies DataFrame to be a list (in preparation for applying the function, f).

In [21]:
movies['genres'] = movies.genres.str.split('|')
movies.head()

,movieId,title,genres
0,1,Toy Story (1995),"[Adventure, Animation, Children, Comedy, Fantasy]"
1,2,Jumanji (1995),"[Adventure, Children, Fantasy]"
2,3,Grumpier Old Men (1995),"[Comedy, Romance]"
3,4,Waiting to Exhale (1995),"[Comedy, Drama, Romance]"
4,5,Father of the Bride Part II (1995),[Comedy]

We apply the funciton f to the genres column to change the elements to arrays of 0's and 1's representing the genres. We also set the index to be the movieID.

In [22]:
movies['genres'] = movies.genres.apply(f)
movies = movies.set_index('movieId')
movies.head()

,title,genres
movieId,,
1,Toy Story (1995),"[1, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, ..."
2,Jumanji (1995),"[1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, ..."
3,Grumpier Old Men (1995),"[0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, ..."
4,Waiting to Exhale (1995),"[0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, ..."
5,Father of the Bride Part II (1995),"[0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."

In [23]:
df = pd.concat([movies, movieNormalizedNumRatings, movieProperties], axis=1)
df.head()

,title,genres,size,"(rating, size)","(rating, mean)"
movieId,,,,,
1,Toy Story (1995),"[1, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, ...",0.723529,247.0,3.872470
2,Jumanji (1995),"[1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, ...",0.311765,107.0,3.401869
3,Grumpier Old Men (1995),"[0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, ...",0.170588,59.0,3.161017
4,Waiting to Exhale (1995),"[0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, ...",0.035294,13.0,2.384615
5,Father of the Bride Part II (1995),"[0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",0.161765,56.0,3.267857

Conver the DataFrame to a dictionary, and check the first entry.

In [24]:
movieDict = df.T.to_dict('list')
movieDict[1]

['Toy Story (1995)',
 array([1, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0]),
 0.7235294117647059,
 247.0,
 3.8724696356275303]

Now let's define a function that computes the "distance" between two movies based on how similar their genres are, and how similar their popularity is. Just to make sure it works, we'll compute the distance between movie ID's 2 and 4:

In [25]:
from scipy import spatial

def ComputeDistance(a, b):
    genresA = a[1]
    genresB = b[1]
    genreDistance = spatial.distance.cosine(genresA, genresB) #this will be 1 if there are no overlapping genres
    #print('The genre distance is', genreDistance)
    popularityA = a[2]
    popularityB = b[2]
    popularityDistance = abs(popularityA - popularityB)
    #print('The popularity distance is', popularityDistance)
    return genreDistance + popularityDistance
    
ComputeDistance(movieDict[2], movieDict[4])

1.276470588235294

Remember the higher the distance, the less similar the movies are. Let's check what movies 2 and 4 actually are - and confirm they're not really all that similar:

In [26]:
print(movieDict[2])
print(movieDict[4])

['Jumanji (1995)', array([1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0]), 0.31176470588235294, 107.0, 3.4018691588785046]
['Waiting to Exhale (1995)', array([0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0]), 0.03529411764705882, 13.0, 2.3846153846153846]

Now, we just need a little code to compute the distance between some given test movie (Toy Story, in this example) and all of the movies in our data set. When the sort those by distance, and print out the K nearest neighbors:

In [27]:
import operator

def getNeighbors(movieID, K):
    distances = []
    for movie in movieDict:
        if (movie != movieID):
            dist = ComputeDistance(movieDict[movieID], movieDict[movie])
            distances.append((movie, dist))
    distances.sort(key=operator.itemgetter(1))
    neighbors = []
    for x in range(K):
        neighbors.append(distances[x][0])
    return neighbors

K = 10
avgRating = 0
neighbors = getNeighbors(1, K)
for neighbor in neighbors:
    avgRating += movieDict[neighbor][4]
    print (movieDict[neighbor][0] + " " + str(movieDict[neighbor][4]))
    
avgRating /= K

Aladdin (1992) 3.6744186046511627
Shrek (2001) 3.8477011494252875
Toy Story 2 (1999) 3.844
Bug's Life, A (1998) 3.6095238095238096
Monty Python and the Holy Grail (1975) 4.224137931034483
Lord of the Rings: The Two Towers, The (2002) 4.0611702127659575
Back to the Future (1985) 4.015486725663717
Who Framed Roger Rabbit? (1988) 3.6666666666666665
Antz (1998) 3.2735849056603774
Lion King, The (1994) 3.7775

While we were at it, we computed the average rating of the 10 nearest neighbors to Toy Story:

In [28]:
avgRating

3.799419000539146

How does this compare to Toy Story's actual average rating?

In [29]:
movieDict[1]

['Toy Story (1995)',
 array([1, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0]),
 0.7235294117647059,
 247.0,
 3.8724696356275303]

Not too bad!

### Exercise 3

Our choice of 10 for K was arbitrary - what effect do different K values have on the results?

ANSWER =  If we have a smaller value for K, not too small, the avgRating for ToyStory will be better and closer to the actual score. The number of neighbors that produces the closest rating to the actual rating is 6. When  the number of neighbors gets too big, the result will be off compared to the actual rating. Too small K will overfit while too big K will underfit.

In [30]:
# 3.8724696356275303
K = 31
for k in range(1,K):
  avgRating = 0
  neighbors = getNeighbors(1, k)
  for neighbor in neighbors:
      avgRating += movieDict[neighbor][4]
  avgRating /= k
  print(str(k)+": "+str(avgRating))

1: 3.6744186046511627
2: 3.761059877038225
3: 3.78870658469215
4: 3.743910890900065
5: 3.8399562989269485
6: 3.876825284566783
7: 3.896634061866345
8: 3.8678881374663856
9: 3.801854445043496
10: 3.799419000539146
11: 3.7952334894336217
12: 3.7381939897867267
13: 3.719871375187748
14: 3.697156931165659
15: 3.731252399558296
16: 3.7123799326667104
17: 3.7145928778039625
18: 3.657115495703743
19: 3.609026314489418
20: 3.536908332098281
21: 3.556925314249075
22: 3.5367197590911714
23: 3.5274182395709714
24: 3.5404172270635956
25: 3.5248279352413254
26: 3.5244557652378714
27: 3.518564241169232
28: 3.5426577260625387
29: 3.519511893144126
30: 3.5419797762758805

### Challenge (Ungraded)

Our distance metric was also somewhat arbitrary - we just took the cosine distance between the genres and added it to the difference between the normalized popularity scores. Can you improve on that?

In [31]:
from scipy import spatial

def ComputeDistance(a, b):
    genresA = a[1]
    genresB = b[1]
#     genreDistance = spatial.distance.sokalsneath(genresA, genresB)
    genreDistance = spatial.distance.rogerstanimoto(genresA, genresB)
#     genreDistance = spatial.distance.cosine(genresA, genresB)
    popularityA = a[2]
    popularityB = b[2]
    popularityDistance = abs(popularityA - popularityB)
    return genreDistance + popularityDistance
#     return genreDistance*.6 + popularityDistance*.7


K = 10
avgRating = 0
neighbors = getNeighbors(1, K)
for neighbor in neighbors:
    avgRating += movieDict[neighbor][4]
    
avgRating /= K
avgRating

3.88132857278231

In [32]:
K = 31
for k in range(1,K):
  avgRating = 0
  neighbors = getNeighbors(1, k)
  for neighbor in neighbors:
      avgRating += movieDict[neighbor][4]
  avgRating /= k
  print(str(k)+": "+str(avgRating))

1: 3.6744186046511627
2: 3.761059877038225
3: 3.78870658469215
4: 3.845401619935042
5: 3.888555338501225
6: 3.9393264184479904
7: 3.980013777388918
8: 4.011625303078551
9: 3.9669473593502462
10: 3.88132857278231
11: 3.9196876742134266
12: 3.9078387013623073
13: 3.8281148452135585
14: 3.840844435835737
15: 3.8554486623867796
16: 3.8490692696362547
17: 3.8551858798454455
18: 3.8228747146129414
19: 3.8237441474961518
20: 3.842986387974105
21: 3.862686866097787
22: 3.853776857032736
23: 3.8697713190980996
24: 3.8502753957556166
25: 3.8449772512125207
26: 3.860030573718333
27: 3.8543333072681
28: 3.856053546294239
29: 3.8432222155299014
30: 3.8322865255172887